body {
    background-color: wheat;
    overflow: hidden;
    background: center fixed;
    background-image: url('../others/background/test2.jpg');
    background-size: cover;
    margin: 0;
    transition: background 1s ease-in-out;
}

h4 {
    line-height: 0%;
    font-family: sans-serif;
    font-size: 15;
    margin:0;
    padding:0;
}

.rectangle {
    height: 300px;
    width: 900px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-80%, -45%);  
    border:2px white;
    font-family: sans-serif;
  }

  .topnav {
    background-size: cover;
    background-position: center; 
    right: 50%;
    overflow: hidden;
    background-color: transparent;
    text-align:center;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
    font-size: 17px;   
    font-family: sans-serif;
    display: inline-block;
}

.topnav a:hover {
   transform: scale(1.2, 1.2);
}

.topnav a.active {
    color: black;
    font-weight: bold;
}

.contactInfo {
    right: 50%;
    overflow: hidden;
    background-color: transparent;
    text-align:center;
}

.contactInfo a {
    text-align: center;
    padding: 0px 16px;
    display: inline-block;
}

.contactInfo a:hover {
    transform: scale(1.2, 1.2);
}

.contactImage {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
