h1 {
    text-align: center;
    color: rgb(0,0,0);
    font-family: sans-serif;
}

body{
    background: fixed;
    overflow: hidden;
    background-color: whitesmoke;
    background-size: cover;
    overflow-y : auto;
}

#name {
  font-size: 60px;
  letter-spacing: 4px;
  line-height: 2;
  font-weight: bold;
  text-align: center;
  color: rgba(211, 37, 75, 0.829)
}

#text {
  font-size: 30px;
  letter-spacing: 4px;
  line-height: 2;
  font-weight: bold;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-bottom: 35px;
}

#me {
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 2;
  font-weight: bold;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}

#div_pic{
  display: none;
  padding-bottom: 185px;
}

#pic{
  height: 250px;
  width: 200px;
  position: fixed;
  top:-20%;
  left: 40%;
  margin-left: 20px;
  margin: auto;
  border-radius: 50%;
}

.intro_rectangle {
  height: 300px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  transform: translate(0, 50%); 
  align-content: center;
  font-family: sans-serif;
  margin-bottom: 100px;
}

.about_rectangle {
  height: 200px;
  width: 70%;
  background-color: transparent;
  position: relative;
  transform: translate(20%, 0); 
  align-content: center;
  font-family: sans-serif;
}

#navbar{
  overflow: hidden;
  position: fixed; 
  top: 0; 
  z-index:1;
  background-color: whitesmoke;
  align-content: center;
  width: 100%;
  margin-bottom: 100px;
}

.icons {
  overflow: hidden;
  display: block;
  background-color: transparent;
  text-align:center;
  font-weight: bold;
}

.icons a {
    color:black;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
    font-size: 17px;   
    font-family: sans-serif;
    display: inline-block;
}

.icons a:hover {
    color: black;
    transform: scale(1.2,1.2)
}

.icons a.active {
  color: black;
  font-weight: bold;
}

.icons a.focus {
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  #navbar{
    margin-bottom: 0px;
  }

  .intro_rectangle {
    transform: translate(0, 10%); 
  }

  .about_rectangle{
    transform: translate(20%, 10%); 
  }

  #me {
    margin-bottom: 50px;
  }

  .icons {
    transform: scale(0.8,0.8)
  }

  .icons a {
    padding: 10px 8px;
  } 
}