body {
    background-color: wheat;
    overflow: hidden;
    background: center fixed;
    background-image: url('../others/background/skills.jpg');
    background-size: cover;
    margin: 0;
    transition: background 1s ease-in-out;
}

#title {
    text-align: center;
    color: rgb(0,0,0);
    font-family: sans-serif;
}

h2 {
    color: brown;
    font-family: sans-serif;
    font-weight: bold;
}

p {
    font-family: sans-serif;
    font-weight: bold;
}

.flex-rectangle {
    height: 380px;
    width: 100%;
    background-color:white;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);  
    border:2px white;
  }

.rectangle {
    height: 300px;
    width: 1000px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-80%, -45%);  
    border:2px white;
    font-family: sans-serif;
  }

.topnav {
    right: 50%;
    overflow: hidden;
    background-color: #333;
    text-align:center;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
    font-size: 17px;   
    font-family: sans-serif;
    display: inline-block;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgb(92, 95, 95);
    color: white;
}

.column {
    float: left;
    width: 20%;
    box-align: center;
  }
  
  .row {
    margin: 20px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
